.machine-info {
    background-color: #2b2b2b;
    color: white;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
    text-align: center;
}

.machine-info-img {
    width: 500px;
    border-radius: 8px;
    margin-bottom: 10px;
}
